/*
Copyright 2008 Josh Heidenreich

This file is part of Pelzini.

Pelzini is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Pelzini is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Pelzini.  If not, see <http://www.gnu.org/licenses/>.
*/


body {
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}

a img {
  border-style: none;
}

div.header {
  background-color: #6e7aff;
  color: white;
  padding: 0.5em;
  margin: 0px;
  text-align: right;
}

div.header h1 {
  margin: 0px;
  padding: 0px;
  font-size: 24px;
}

div.header p {
  margin: 0px;
  padding: 0px;
  font-size: 11px;
}

div.navigation {
  background-color: #eee;
  color: black;
  padding: 0.5em;
  margin: 0px;
  border-bottom: 1px #6e7aff solid;
  margin-bottom: 10px;
}

div.navigation a {
  color: black;
  padding: 3px;
}

div.navigation a.on {
  padding: 3px;
  background-color: #d7d7d7;
}

div.navigation form {
  display: inline;
}

div.container {
  margin: 0px;
  padding: 0px;
}

div.project-selector {
  width: 500px;
  margin: 20px auto;
}

div.project-selector a {
  display: block;
  padding: 10px 15px;
  margin: 3px 0;
  background: #eee;
}

div.project-selector a:hover {
  background: #ddd;
}


table.footer {
  background-color: #eee;
  margin: 0px;
  margin-top: 3em;
  border-top: 1px #bfc5ff solid;
  width: 100%;
  cell-spacing: 0px;
  border-collapse: collapse;
}

table.footer td {
  padding: 6px 10px;
  font-size: 10px;
  height: 15px;
}

table.footer img {
  display: block;
}


table.main {
  width: 100%;
  margin: 0px;
  border-collapse: collapse;
  cell-spacing: 0px;
}



/* sidebar td */
td.sidebar {
  width: 300px;
  vertical-align: top;
  padding: 15px;
}

div.box-nohead {
  background-color: #ccc;
  color: black;
  margin: 0px;
  margin-bottom: 1em;
  padding: 0.3em;
}

div.box {
  background-color: #eee;
  color: black;
  margin: 0px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

div.box h2 {
  font-size: 95%;
  margin: 0px;
  background-color: #ccc;
  padding: 0.25em;
}

div.box p {
  margin: 10px;
  font-size: 88%;
  margin-right: 15px;
}

div.box div {
  padding: 0.3em;
  overflow: auto;
  max-height: 300px;
}


/* main td */
td.main {
  vertical-align: top;
  padding: 15px;
  color: black;
}

td.main h2 {
  margin: 0px;
  padding: 0px;
  height: 45px;
}

td.main h3 {
  border-bottom: 1px #CCC solid;
  margin-top: 2em;
}

td.main h3 small {
  font-size: 80%;
  font-weight: normal;
}

.source {
  border: 1px #CCC solid;
  background: #EEE;
}

pre {
  margin: 2px 0px 2px 0px;
}

p {
  margin: 0px;
}

a {
  color: #CE464C;
}

a:visited {
  color: #CE464C;
}

a:active {
  color: #B21A21;
}

ul {
  list-style-type: square;
}

ul li {
  margin-bottom: 5px;
}

div.function-usage {
  border: 1px black solid;
  font-size: small;
  padding: 3px 5px;
  background-color: #FFE;
}


div.list div.item {
  margin-bottom: 0.7em;
  padding: 3px 6px;
  background-color: #F8FFF2;
  border-top: 1px #DDFFBF solid;
  border-bottom: 1px #58BF00 solid;
}

div.list div.item-alt {
  margin-bottom: 0.7em;
  padding: 3px 6px;
  background-color: #F2FFFA;
  border-top: 1px #BFFFE6 solid;
  border-bottom: 1px #00BF70 solid;
}

div.list div.summary {
  margin-bottom: 0.7em;
  padding: 3px 6px;
  background-color: #F2F2FF;
  border-top: 1px #BFC1FF solid;
  border-bottom: 1px #0006BF solid;
}

ul.tree li.on {
  font-weight: bold;
}

ul.tree li.on li {
  font-weight: normal;
}

ul.tree li.on li.on {
  font-weight: bold;
}

span.highlight {
  color: #C3C;
}

em.highlight {
  background-color: #CCC;
  font-style: normal;
}

strong.highlight {
  border-bottom: 1px dotted;
}

img.showhide {
  float: right;
  cursor: pointer;
}

.function-list {
  border-collapse: collapse;
}

.function-list th {
  background-color: #EEE;
  border-bottom: 1px #BFC5FF solid;
  padding: 3px 10px;
}

.function-list td {
  border: 1px #EFEFEF solid;
  padding: 2px 5px;
}

.spaced-list li {
  margin-bottom: 2em;
}
.spaced-list pre {
  margin-top: 0.7em;
}

.code-list {
  font-family: monospace;
}
.code-list .type {
  color: #666;
}
.code-list .default {
  color: #666;
}

span.unimportant {
  font-weight: normal;
  color: #333;
}

div.viewer_options {
  font-size: small;
  float: right;
  clear: right;
  margin-top: 15px;
  background-color: #EEE;
  padding: 0.5em;
  width: 175px;
}

div.viewer_options a {
  color: #777;
}

div.viewer_options .on a {
  color: #222;
}

p.tags {
  margin-top: 50px;
  padding: 5px 10px;
  border-top: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  background-color: #FFFDFA;
}

p.tags a {
  color: #6E7AFF;
}

.deprecated {
	color: #900;
	font-weight: bold;
}

