body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

div.main {
  width: 800px;
  margin: 1em auto;
  border: 1px black solid;
  padding: 0.5em;
  background-color: white;
}

h1 {
  margin: 0px;
  padding: 0.3em;
  background-color: #6e7aff;
  color: white;
}

h2 {
  color: #6e7aff;
}

h3 {
  border-bottom: 1px black solid;
  margin-top: 2em;
}

code {
  background-color: whitesmoke;
}

pre.source {
  background-color: whitesmoke;
  border: 1px #777 solid;
  padding: 0.5em;
}

p.error {
  border: 1px red solid;
  margin: 1em;
  padding: 0.5em;
}
