/*
Copyright 2008 Josh Heidenreich

This file is part of docu.

Docu is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Docu is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with docu.  If not, see <http://www.gnu.org/licenses/>.
*/


body {
  font-family: sans-serif;
  padding: 0.5em;
}

a img {
  border-style: none;
}

div.header {
  background-color: #6e7aff;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
}

div.header h1 {
  margin: 0px;
  padding: 0px;
}

div.navigation {
  background-color: #eee;
  color: black;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px #6e7aff solid;
}

div.navigation a {
  color: black;
  padding: 3px;
}

div.navigation a.on {
  padding: 3px;
  background-color: #d7d7d7;
}

div.container {
  margin: 0px;
  padding: 0px;
}


table.footer {
  background-color: #eee;
  margin: 0.5em;
  margin-top: 3em;
  border: 1px #bfc5ff solid;
  width: 100%;
  cell-spacing: 0px;
  border-collapse: collapse;
}

table.footer td {
  padding: 4px;
  font-size: 10px;
  height: 15px;
  width: 33%;
}

table.footer img {
  display: block;
}


table.main {
  width: 100%;
  margin: 0.5em;
  border-collapse: collapse;
  cell-spacing: 0px;
}

td.sidebar {
  width: 20%;
  vertical-align: top;
  padding: 0px;
}

div.box-nohead {
  background-color: #bbb;
  color: black;
  margin: 0px;
  margin-bottom: 1em;
  padding: 0.3em;
}

div.box {
  background-color: #eee;
  color: black;
  margin: 0px;
  margin-bottom: 1em;
}

div.box h2 {
  font-size: large;
  margin: 0px;
  background-color: #bbb;
  padding: 0.3em;
}

div.box p {
  margin: 0px auto;
}

div.box div {
  padding: 0.3em;
}

td.main {
  width: 80%;
  vertical-align: top;
  padding: 0em 2em;
  color: black;
}

td.main h2 {
  margin: 0px;
}

td.main h3 {
  border-bottom: 1px #CCC solid;
  margin-top: 2em;
}

td.main h3 small {
  font-size: 80%;
  font-weight: normal;
}


table.function-list {
  border: 1px #CCC solid;
}

table.function-list td {
  border: 1px #CCC solid;
}

table.function-list a {
  color: black;
  text-decoration: none;
}

table.parameter-list {
  border: 1px #CCC solid;
}

table.parameter-list td {
  border: 1px #CCC solid;
}

table.parameter-list a {
  color: black;
  text-decoration: none;
}


.source {
  border: 1px #CCC solid;
  background: #EEE;
}
