/*
Copyright 2008 Josh Heidenreich

This file is part of docu.

Docu is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Docu is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with docu.  If not, see <http://www.gnu.org/licenses/>.
*/


body {
  font-family: sans-serif;
  padding: 0.5em;
}

a img {
  border-style: none;
}

div.header {
  background-color: #6e7aff;
  color: white;
  padding: 0.5em;
  margin: 0.5em;
}

div.header h1 {
  margin: 0px;
  padding: 0px;
}

div.navigation {
  background-color: #eee;
  color: black;
  padding: 0.5em;
  margin: 0.5em;
  border: 1px #6e7aff solid;
}

div.navigation a {
  color: black;
  padding: 3px;
}

div.navigation a.on {
  padding: 3px;
  background-color: #d7d7d7;
}

div.container {
  margin: 0px;
  padding: 0px;
}


table.footer {
  background-color: #eee;
  margin: 0.5em;
  margin-top: 3em;
  border: 1px #bfc5ff solid;
  width: 100%;
  cell-spacing: 0px;
  border-collapse: collapse;
}

table.footer td {
  padding: 4px;
  font-size: 10px;
  height: 15px;
  width: 33%;
}

table.footer img {
  display: block;
}


table.main {
  width: 100%;
  margin: 0.5em;
  border-collapse: collapse;
  cell-spacing: 0px;
}

td.sidebar {
  width: 20%;
  vertical-align: top;
  padding: 0px;
}

div.box-nohead {
  background-color: #ccc;
  color: black;
  margin: 0px;
  margin-bottom: 1em;
  padding: 0.3em;
}

div.box {
  background-color: #eee;
  color: black;
  margin: 0px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
}

div.box h2 {
  font-size: 95%;
  margin: 0px;
  background-color: #ccc;
  padding: 0.25em;
}

div.box p {
  margin: 0px auto;
  font-size: 88%;
}

div.box div {
  padding: 0.3em;
  overflow: auto;
  max-height: 300px;
}

td.main {
  width: 80%;
  vertical-align: top;
  padding: 0em 2em;
  color: black;
}

td.main h2 {
  margin: 0px;
}

td.main h3 {
  border-bottom: 1px #CCC solid;
  margin-top: 2em;
}

td.main h3 small {
  font-size: 80%;
  font-weight: normal;
}

.source {
  border: 1px #CCC solid;
  background: #EEE;
}

pre {
  margin: 2px 0px 2px 0px;
}

p {
  margin: 0px;
}

a {
  color: #CE464C;
}

a:visited {
  color: #CE464C;
}

a:active {
  color: #B21A21;
}

ul {
  list-style-type: square;
}

ul li {
  margin-bottom: 5px;
}

div.function-usage {
  border: 1px black solid;
  font-size: small;
  padding: 3px 5px;
  background-color: #FFE;
}


div.list div.item {
  margin-bottom: 0.7em;
  padding: 3px;
  background-color: #F2FFE8;
  border: 1px #B8FF81 solid;
}

div.list div.item-alt {
  margin-bottom: 0.7em;
  padding: 3px;
  background-color: #E8FFF5;
  border: 1px #83FFCC solid;
}





